<h1>Edit Note</h1>
<%= form_for @note do |f| %>
  <%= f.label :title %>
  <%= f.text_field :title %>

  <%= f.label :date %>
  <%= f.text_field :date %>

  <%= f.label :note %>
  <%= f.text_area :note %>

  <%= f.submit %>
<% end %>